/* This defines the overall layout and styling for the website, 
   including the navbar, buttons, alerts, and general components. It applies 
   consistent colors, fonts, and behaviors across the website. */

/* Overall Navbar styling */
.navbar {
    background-color: #112d4e;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f9f7f7;
    line-height: 1.5rem;
    text-decoration: none;
}

/* Navbar link styling */
.navbar-nav .nav-link {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    color: #f9f7f7;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-nav .nav-link.active {
    color: #3f72af;
}

.alert {
    display: block !important;
    visibility: visible !important;
}

/* Button styling and hover effects */
.btn-search {
    background-color: #31447c;
    border-color: #31447c;
    color: white;
}

.btn-search:hover {
    background-color: #19385c;
    border-color: #19385c;
    color: white;
}

.btn-primary {
    background-color: #7c93c3;
    font-family: 'PT Sans', sans-serif;
    border-color: #7c93c3;
}

.btn-primary:hover {
    background-color: #19385c;
    border-color: #19385c;
}

.btn-success {
    background-color: #55679c;
    border-color: #55679c;
    color: white;
}

.btn-success:hover {
    background-color: #394a7d;
    border-color: #394a7d;
    color: white;
}

.btn-danger {
    background-color: #31447c;
    border-color: #31447c;
    color: white;
}

.btn-danger:hover {
    background-color: #19385c;
    border-color: #19385c;
    color: white;
}

.btn-info {
    background-color: #55679c;
    border-color: #55679c;
    color: white;
}

.btn-info:hover {
    background-color: #394a7d;
    border-color: #394a7d;
    color: white;
}

/* Styles for text elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #4563a2;
}

body {
    font-family: 'PT Sans', sans-serif;
}

footer {
    background-color: #0b1026;
    color: #f9f7f7;
    padding: 0;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

/* Defines the appearance and animation of alerts */
.alert-custom {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
}

.alert-success {
    background-color: rgba(124, 147, 195, 0.85);
    color: white;
    border: none;
}

.alert-danger {
    background-color: rgba(49, 68, 124, 0.85);
    color: white;
    border: none;
}

.alert .btn-close {
    filter: invert(1);
}

/* Map size and fade-out animation for alerts */
#map {
    flex-grow: 1;
}

.fade-out {
    animation: fadeOut 1s forwards;
    opacity: 0;
    transition: opacity 1s ease-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Mobile Styles: Adjust card margins for small screens */
@media (max-width: 576px) {
    .card {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}
